[submodule "src/open_manipulator"]
	path = src/open_manipulator
	url = https://github.com/ROBOTIS-GIT/open_manipulator.git
	branch = jazzy
[submodule "src/turtlebot4"]
	path = src/turtlebot4
	url = https://github.com/turtlebot/turtlebot4.git
	branch = jazzy
